URL: https://jindal.utdallas.edu/admission-requirements/
Headings:
- Admission Requirements and Tuition
- Admission Details by Program Type
Content:
Please review the requirements and tuition that are applicable for all degree-seeking programs. You need to complete the online application form and pay the application fee by the deadline date for the semester to which you are applying. Please visit theUT Dallas Bursars officefor more information on tuition and fees.
Links:
- UT Dallas Bursars office - http://www.utdallas.edu/bursar/
- Fall 2025 or Spring 2026 Applications - https://utdallas.my.site.com/TX_SiteLogin?startURL=%2FTargetX_Portal__PB
- Summer or Fall 2026 Applications - https://utdcomet.my.site.com/ApplicantPortal/s/login/?ec=302&startURL=%2FApplicantPortal%2Fs%2Fgradapp%2F
- Undergraduate Programs - https://jindal.utdallas.edu/jindal/admission-requirements/undergraduate/
- MS Programs - https://jindal.utdallas.edu/jindal/admission-requirements/masters/
- MBA Programs - https://jindal.utdallas.edu/mba/admissions/
- PhD Programs - https://jindal.utdallas.edu/jindal/phd-programs/admission-requirements/
- Executive Education Programs - https://jindal.utdallas.edu/execed/
- Certificate Programs - https://jindal.utdallas.edu/jindal/certificate-programs/
- Tuition Plans - https://www.utdallas.edu/finance/bursar/tuition/

================================================================================
URL: https://jindal.utdallas.edu/admission-requirements/undergraduate/
Headings:
- Welcome to the Jindal School of Management
Content:
All students interested in applying as an undergraduate must apply directly to UT Dallas via ApplyTexas or the Common Application. The application will be considered for both admission to UT Dallas and the Jindal School of Management.
To learn more about the application process, deadlines, fees and financial aid, please visit:
Links:
- Undergraduate Admission Office - http://www.utdallas.edu/enroll
- Future Undergraduates - https://jindal.utdallas.edu/jindal/undergraduate-programs/prospective-undergraduates/?_ga=2.31430911.1730077543.1617027628-190102431.1606368389#02-apply-now

================================================================================
URL: https://jindal.utdallas.edu/admission-requirements/undergraduate/
Headings:
- Admission Process
- Freshman
- Transfer Student
Content:
Applicants are considered a “first-time freshman” if the students’ first enrollment at a college or university, excluding summer, will occur at UT Dallas within two years of graduating from high school. Applicants are still considered a “first-time freshman” if they earn college credit before high school graduation (i.e., dual enrollment courses).
Applicants are encouraged to apply to UT Dallas through ApplyTexas or Common Application during their senior year of high school in order to be considered for admission and scholarship opportunities.
Applicants are considered a “transfer student” if they have previously completed college-level coursework at an accredited institution (excluding the summer following high school). Applicants can apply to UT Dallas through ApplyTexas or Common Application to start during the fall, spring and summer semesters.
Links:
- Freshman Application Process - https://enroll.utdallas.edu/freshman/
- Transfer Student Application Process - https://enroll.utdallas.edu/transfer/

================================================================================
URL: https://jindal.utdallas.edu/admission-requirements/undergraduate/
Headings:
- Freshman
- Transfer Student
Content:
Applicants are considered a “first-time freshman” if the students’ first enrollment at a college or university, excluding summer, will occur at UT Dallas within two years of graduating from high school. Applicants are still considered a “first-time freshman” if they earn college credit before high school graduation (i.e., dual enrollment courses).
Applicants are encouraged to apply to UT Dallas through ApplyTexas or Common Application during their senior year of high school in order to be considered for admission and scholarship opportunities.
Applicants are considered a “transfer student” if they have previously completed college-level coursework at an accredited institution (excluding the summer following high school). Applicants can apply to UT Dallas through ApplyTexas or Common Application to start during the fall, spring and summer semesters.
Links:
- Freshman Application Process - https://enroll.utdallas.edu/freshman/
- Transfer Student Application Process - https://enroll.utdallas.edu/transfer/

================================================================================
URL: https://mba.utdallas.edu/admissions/?_ga=2.151205625.1711926295.1745296287-648351428.1729873009
Headings:
- Upcoming Events

================================================================================
URL: https://jindal.utdallas.edu/phd-programs/admission-requirements/
Headings:
- Required Application Materials
Content:
Fall 2026 applications are now open.
The ability to read, write, speak and understand English is essential for success in graduate studies at UT Dallas. If your native language is not English and you have been educated outside the United States, you must demonstrate English proficiency.
Please review the requirements as outlined on the Graduate Admission atUT Dallas pagefor specifics on scores and potential waivers.
For technical assistance with the graduate application, please contactgradapp@utdallas.edu.
All materials are to be uploaded in the online application as PDF files only (no Word docs or JPEGs) when prompted.*UT Dallas Naveen Jindal School of Management prefers the GMAT admission test. However, we gladly accept the GRE test as well.**All recommendation letters are to be submitted electronically through the online application system.
*UT Dallas Naveen Jindal School of Management prefers the GMAT admission test. However, we gladly accept the GRE test as well.
**All recommendation letters are to be submitted electronically through the online application system.
Lists:
- Complete graduate application and application feeFall 2026 applications are now open.Apply Now
- All undergraduate and graduate transcripts should be uploaded and submitted electronically. DO NOT mail official/paper copies of your documents. Unofficial transcripts are sufficient for releasing an admissions decision. Admitted students must provide official documents prior to enrollment.
- GMAT* or GRE scores. Students must have an excellent academic record and high scores on the GMAT or GRE. To be considered for admission, students must score 600 on the GMAT or above or receive comparable scores on the GRE. The mean GMAT score for students admitted to the Jindal School of Management PhD programs for Fall 2025 was 637. The mean GRE score (combined) for students admitted for Fall 2025 was 324. The institution code to report GMAT scores is ZTZ-PQ-18, and for GRE scores, it is 6897.Scores must be no older than 5 years, are not waived for any applicants, and must be submitted at the time of application.The Online GRE and Online GMAT will be accepted for Fall 2026 admissions.
- A curriculum vitae (CV) or résumé. If you do not have professional work experience, still include a CV or résumé, which will give us an overview of your academic background and accomplishments.
- A statement of purpose that should answer two fundamental questions:Why do you want to pursue a PhD in your chosen concentration?What are your career goals after you obtain your PhD?
- Why do you want to pursue a PhD in your chosen concentration?
- What are your career goals after you obtain your PhD?
- Three letters of recommendation, with at least two being from academic referees (see note below)**.
- The ability to read, write, speak and understand English is essential for success in graduate studies at UT Dallas. If your native language is not English and you have been educated outside the United States, you must demonstrate English proficiency.Please review the requirements as outlined on the Graduate Admission atUT Dallas pagefor specifics on scores and potential waivers.
Links:
- Apply Now - https://utdcomet.my.site.com/ApplicantPortal/s/gradapp/
- UT Dallas page - https://graduate-admissions.utdallas.edu/apply-to-ut-dallas/international-students/
- gradapp@utdallas.edu - mailto:gradapp@utdallas.edu

================================================================================
URL: https://jindal.utdallas.edu/phd-programs/admission-requirements/
Headings:
- Alumni Testimonials
- Harish Guda
- Oktay Urcan
- Wei Chen
- Tai-Yuan Chen
- Devendra Kale
- Jess Cornaggia
- Aidin Namin
- Qi Annabelle Feng
- Hasan Cavusoglu
- Blair Flicker
- Xuying Zhao
- Haibin Yang
- Bharadwaj Kadiyala
- Zhengrui Jiang
- Steve Sauerwald
- Mina Ameri
- Subodha Kumar
Content:
Assistant Professor in Supply Chain ManagementW.P. Carey School of Business, Arizona State University
Associate Professor of Accountancy and Fred & Virginia Roedgers Faculty FellowGies College of Business, University of Illinois at Urbana-Champaign
Assistant Professor in Analytics, Information & Operations,School of Business, University of Kansas
Alumni Professor of Finance,HKUST Business School,
Hong Kong University of Science and Technology
PhD in Management Science, Accounting
Assistant Professor,University of Rhode Island
Alumni Professor of Finance,Smeal College of Business, Pennsylvania State University
Associate Professor of Marketing Analytics, Loyola Marymount University
John and Donna Krenicki Chair,Professor in Operations ManagementKrannert School of Management, Purdue University
Professor of Management Information SystemsSauder School of Business, The University of British Columbia
Assistant Professor in Management ScienceDarla Moore School of Business, University of South Carolina
Associate Professor in Operations ManagementMendoza College of Business, University of Notre Dame
Professor in Strategic Management,College of Business, City University of Hong Kong
Assistant Professor,Eccles School of Business, University of Utah
Professor of Information Systems,School of Business,
Nanjing University
Associate Professor, Department of Managerial Studies, College of Business, University of Illinois at Chicago
Assistant ProfessorThe University of Pittsburgh
Distinguished Fellow of the Information Systems Society, INFORMSPaul R. Anderson Distinguished Chair Professor,Marketing and Supply Chain Management,Fox School of Business, Temple University
Links:
- Harish Guda - https://jindal.utdallas.edu/testimonials/phd-testimonials/harish-guda/
- Oktay Urcan - https://jindal.utdallas.edu/testimonials/phd-testimonials/oktay-urcan/
- Wei Chen - https://jindal.utdallas.edu/testimonials/phd-testimonials/wei-chen/
- Tai-Yuan Chen - https://jindal.utdallas.edu/testimonials/phd-testimonials/tai-yuan-chen/
- Devendra Kale - https://jindal.utdallas.edu/testimonials/phd-testimonials/devendra-kale/
- Jess Cornaggia - https://jindal.utdallas.edu/testimonials/phd-testimonials/jess-cornaggia/
- Aidin Namin - https://jindal.utdallas.edu/testimonials/phd-testimonials/aidin-namin/
- Qi Annabelle Feng - https://jindal.utdallas.edu/testimonials/phd-testimonials/qi-annabelle-feng/
- Hasan Cavusoglu - https://jindal.utdallas.edu/testimonials/phd-testimonials/hasan-cavusoglu/
- Blair Flicker - https://jindal.utdallas.edu/testimonials/phd-testimonials/blair-flicker/
- Xuying Zhao - https://jindal.utdallas.edu/testimonials/phd-testimonials/xuying-zhao/
- Haibin Yang - https://jindal.utdallas.edu/testimonials/phd-testimonials/haibin-yang/
- Bharadwaj Kadiyala - https://jindal.utdallas.edu/testimonials/phd-testimonials/bharadwaj-kadiyala/
- Zhengrui Jiang - https://jindal.utdallas.edu/testimonials/phd-testimonials/zhengrui-jiang/
- Steve Sauerwald - https://jindal.utdallas.edu/testimonials/phd-testimonials/steve-sauerwald/
- Mina Ameri - https://jindal.utdallas.edu/testimonials/phd-testimonials/mina-ameri/
- Subodha Kumar - https://jindal.utdallas.edu/testimonials/phd-testimonials/subodha-kumar/
- See all PhD Alumni Testimonials - https://jindal.utdallas.edu/jindal/phd-testimonials

================================================================================
URL: https://jindal.utdallas.edu/phd-programs/admission-requirements/

================================================================================
URL: https://jindal.utdallas.edu/undergraduate-programs/prospective-undergraduates/?_ga=2.31430911.1730077543.1617027628-190102431.1606368389#02-apply-now
Headings:
- Transfer Students
- Financial Aid
- Parents and Families
- Special Programs
- Steps After Admission
- Orientation
Content:
At the Jindal School of Management, we strive to make the transfer process as easy as possible. The UTD Office of Admission and Enrollment offers exampleTransfer Plansfor students completing core and prerequisites before joining JSOM. Transfer students can also use theTransfer Credit Toolto check how their courses will apply to a JSOM degree.
For additional assistance, set up aProspective Transfer Advisingappointment.
More than 70% of students at UT Dallas receive some form of financial aid. Learn more about scholarships, FAFSA, and affordability on theOffice of Financial Aid Webpage. For information about using your veterans benefits, please visit theVA Benefits Webpage.
The Comet Families program is designed to involve family members in their student’s educational journeys and create a network of support. Visit theirwebsiteto find helpful resources and ways to get involved. For parent information regarding Tuition and FERPA please visit theBursar Parents Info Webpage.
DMHP:Students admitted into theDavidson Management Honors Programwill join an enriched academic environment that fosters both personal and professional growth. DMHP students will take select courses as a cohort, participate in exclusive activities and networking events, and can graduate with JSOM honors.
LLC:Living Learning Communitiesgive freshmen a built-in and supportive community during their first year at UTD. Students in our LLC will live alongside other JSOM students, take their freshman seminar class as a cohort, and participate in LLC-sponsored events and activities to build a strong sense of community and collaboration.
Congratulations on your admission to the Jindal School of Management! Ready to get started? Follow the links below to find a list of next steps for newly admitted freshmen and transfer students.
FreshmanTransfer
Orientation is the exciting first step to officially becoming a comet! You can learn more about signing up for orientation through the links below. Be sure to set up your UTD email address as well to receive key information from our Onboarding Office to prepare for orientation!
Freshman Orientation RegistrationTransfer Orientation RegistrationJSOM Orientation Requirements
Links:
- Transfer Plans - https://enroll.utdallas.edu/transfer/transferring-credits/transfer-plans/
- Transfer Credit Tool - https://transfercredit.utdallas.edu/
- Prospective Transfer Advising - https://outlook.office365.com/book/JSOMUndergraduateRecruitingandOnboarding@utdallas.edu/s/Jj3z94GtaEi9EnfYlbadog2
- Office of Financial Aid Webpage - https://finaid.utdallas.edu
- VA Benefits Webpage - https://finaid.utdallas.edu/aid-programs/veterans-benefits/
- website - https://family.utdallas.edu
- Bursar Parents Info Webpage - https://bursar.utdallas.edu/parents-info/
- Davidson Management Honors Program - https://jindal.utdallas.edu/honors-programs/dmhp/
- Living Learning Communities - https://jindal.utdallas.edu/student-resources/living-learning-community/
- Freshman - https://enroll.utdallas.edu/freshman/steps-after-admission/
- Transfer - https://enroll.utdallas.edu/transfer/steps-after-admission/
- Freshman Orientation Registration - https://fye.utdallas.edu/orientation/
- Transfer Orientation Registration - https://transferservices.utdallas.edu/newly-admitted-comets/transfer-orientation/
- JSOM Orientation Requirements - https://jindal.utdallas.edu/undergraduate-programs/orientation/

================================================================================
URL: https://jindal.utdallas.edu/undergraduate-programs/prospective-undergraduates/?_ga=2.31430911.1730077543.1617027628-190102431.1606368389#02-apply-now
Headings:
- Undergraduate Recruitment & Onboarding Office
Content:
The Jindal SchoolThe University of Texas at Dallas(972) 883-5889jsomug@utdallas.edu
Links:
- (972) 883-5889 - tel:1-972-883-5889
- jsomug@utdallas.edu - mailto:jsomug@utdallas.edu

================================================================================
